body{
    /*max-width: */
    font-family: 'Lato', sans-serif;
    max-width: 1160px;
    margin: 0;
    padding: 0 15px;
}
#buttonContainer{
    width: 100%;
    display: inline-block;
    margin-bottom: 46px;
}
#selectFactor {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    margin-bottom: 16px;
}
#selectFactor span {
    font-style: italic;
    font-weight: 900;
}
#factorChoose {
    display: flex;
}
#factorDetails {
    font-family: 'Lato', sans-serif;
    font-style: italic;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #353535;
    margin-bottom: 32px;
}
#factorDetails a {
    color: #000000;
    text-decoration: none;
    border-bottom: 1px solid black;
}
#selectMapTitle {
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 10px;
}
#selectMapTitle span {
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    font-style: italic;
}
.map-risk {
    font-style: italic;
}
#mapButtons {
    margin-bottom: 12px;
}
.map-button {
    font-family: 'Lato', sans-serif;
    display: inline-block;
    width: auto;
    padding: 8px 12px;
    text-transform: uppercase;
    font-size: 18px;
    line-height: 22px;
    font-weight: 700;
    margin-right: 8px;
    cursor: pointer;
}
#mapContainer{
    display: inline-block;
    position: relative;
    width: calc(100% - 408px);
    border-top: 1px solid #d2d2d2;
    border-bottom: 1px solid #d2d2d2;
    border-left: 1px solid #d2d2d2;
}
.mapButton{
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 21.6px;
    padding: 4px 0;
    display: inline-block;
    float: left;
    margin-right: 32px;
    cursor: pointer;
    color: #696969;
}
.mapButtonLabel{
    font-family: 'Lato', sans-serif;
    display: inline-block;
    float: left;
    color: #696969;
    font-size: 14px;
    font-style: italic;
    border-left: 1px solid #d2d2d2;
    height: 35px;
    vertical-align: middle;
    padding-top: 17px;
    padding-left: 25px;
    margin-right: 20px;
    margin-left: 20px;
}
.mapButton.mapButtonToggle.active{
    background: red;
    border-color: red;
    color: white;
}
.mapButton.mapButtonToggle{
    background: white;
    border-color: red;
    color: red;
}
.mapButton.active, .mapButton#mb-equity.active{
    /* color: #fff;
    background: #1696d2;
    border-color: #1696d2; */
    border-bottom: 5px solid #FDBF11;
    color: #000000;
}
/* .mapButton#mb-equity.active{
     background: #fdbf11;
    border-color: #fdbf11; 
    color: black;  
} */
#mapTitle{
    font-family: 'Lato', sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 33px;
    margin-top: 35px;
    margin-bottom: 10px;
    display: inline-block;
    clear: both;
}
#checkContainer{
    margin-bottom: 32px;
}
#map{
    width: 100%;
    height: 724px;
}
#contentContainer{
    position: relative;
}
#sidebar{
    display: inline-block;
    /* float: right; */
    position: absolute;
    /* top: 178px; */
    /* left: 752px; */
    /* margin-left: 67px; */
    width: 408px;
    height: 724px;
    border-top: 1px solid #d2d2d2;
    border-bottom: 1px solid #d2d2d2;
    border-right: 1px solid #d2d2d2;
}
#call-to-action {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 27px;
    color: #000000;
    position: absolute;
    top: 132px;
    left: 41px;
    width: 326px;
}
#hoverSidebar{
    /* display: none; */
    /* width: 400px; */
}
.noHover.desktop{
    font-family: 'Lato', sans-serif;
    display: block;
    position: relative;
    top: 100px;
    line-height: 27px;
    font-weight: 700;
    font-size: 18px;
    width: 335px;
}
.noHover.nhWalk{
    display: none;
}
#sideDetails {
    position: relative;
    padding: 0 24px;
}
#sideScore {
    padding: 24px;
}
#sideScore {
    color: #FFFFFF;
    background: #353535;
}
#sideScore.combined {
    height: 186px;
}
#sideScore.risk {
    height: 108px;
}
#sideScore.hs {
    height: 144px;
}
#sidebarTop{
    position: relative;
    margin-bottom: 18px;
}
#sideScore.risk #sidebarTop, #sideScore.hs #sidebarTop {
    margin-bottom: 14px;
}
#countyName {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
}
#tractName{
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 21px;
}
#tractName span{
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    line-height: 27px;
    font-style: italic;
    margin-right: 10px;
    font-weight: 400;
}
#activeScore{
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 48px;
    line-height: 60px;
    border-bottom: 5px solid black;
    width: fit-content;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
}
#hs-score, #er-score {
    background-color: #000;
    padding: 1px 7px;
}
#hs-score {
    margin-bottom: 6px;
}
span.left-aligned {
    float: left;
}
span.right-aligned {
    float: right;
}
#title-layerName{
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    margin-top: 0;
    margin-bottom: 0;
    text-transform: uppercase;
    max-width: 280px;
}
#activeLayer-desc{
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    line-height: 21px;
    padding-bottom: 30px;
    margin-bottom: 20px;
    border-bottom: 1px solid #d2d2d2;
    color: #353535;
}
#activeLayer-desc ul{
    padding-inline-start: 13px;
}
.active-desc-note{
    font-style: italic;
}
.help-tip {
    font-family: 'Lato', sans-serif;
    position: relative;
    display: inline-block;
    text-align: center;
    background-color: #FFFFFF;
    border-radius: 50%;
    width: 16px;
    height: 16px;
    font-size: 14px;
    line-height: 16px;
    cursor: default;
    margin-left: 5px;
}

.help-tip:before {
    content:'i';
    font-weight: 700;
    color:#353535;
}

.help-tip:hover {
    background-color: #1696D2;
    color: #FFFFFF;
}

.help-tip:hover:before {
    color: #FFFFFF;
}

.help-tip:hover p {
    display: block;
    transform-origin: 100% 100%;
    -webkit-animation: fadeIn 0.3s ease-in-out;
    animation: fadeIn 0.3s ease-in-out;
}

.help-tip p{
    font-family: 'Lato', sans-serif;
    display: none;
    text-align: left;
    background-color: #F5F5F5;
    padding: 14px;
    width: 225px;
    position: absolute;
    /* border-radius: 3px; */
    color: #000000;
    /* box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2); */
    left: -112px;
    bottom: 26px;
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    z-index: 100;
}
.help-tip p:after{
    position: absolute;
    content: '';
    width: 0;
    height: 0;
    /* border: 21px solid transparent;
    border-top-color: #F5F5F5; */
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 20px solid #F5F5F5;
    right: 122px;
    bottom: -19px;
} 
#score-details {
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    display: none;
}
#otherLabel{
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    /*font-style: italic;*/
    /* text-transform: uppercase; */
    font-size: 18px;
    line-height: 27px;
    color: #000000;
    margin-bottom: 8px;
}
.otherScoreRow{
    font-weight: 700;
}
.otherScoreRow.hidden{
    display: none;
}
.otherScore{
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    width: 44px;
    padding-bottom: 7px;
    padding-top: 22.5px;
    border-bottom: 3px solid;
    text-align: center;
    float: left;
    display: inline-block;
}
.otherName{
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    width: calc(100% - 44px);
    float: left;
    display: inline-block;
    padding-bottom: 10px;
    padding-top: 25px;
    border-bottom: 1px solid #d2d2d2;
}
#naText{
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 60px;
    border-bottom: 5px solid rgb(105, 105, 105);
    width: 100px;
    position: absolute;
    top: -3px;
    right: 0px;
    line-height: 1.2;
    text-align: center;
}
#legend{
    position: absolute;
    bottom: 40px;
    left: 10px;
    font-weight: 700;
    background: rgba(255,255,255,.7);
    padding: 10px;
}
.l-title{
    margin-bottom: 5px;
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
}
.l-row{
    margin-bottom: 5px;
}
.l-cell{
    float: left;
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 5px;
    border: 1px solid #9d9d9d;
}
.l-text{
    display: inline-block;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    position: relative;
}
.clearNeighborhood{
    display: none;
    margin-top: 16px;
    font-size: 16px;
    font-weight: 500;
    font-style: italic;
    line-height: 21px;
    cursor: pointer;
    pointer-events: none;
    color: #d2d2d2;
    margin-bottom: 16px;
    text-align: left;
}
.clearNeighborhood.active {
    display: block;
}

.clearNeighborhood.active span{
    color: white;
    border-bottom: 2px solid white;
    pointer-events: visible;
    /* padding-bottom: 5px; */
}

.risk .clearNeighborhood, .hs .clearNeighborhood {
    margin-top: 0;
}

.clearNeighborhood-mobile {
    font-family: 'Lato', sans-serif;
    display: none;
    margin-top: 7px;
    font-size: 16px;
    font-weight: 700;
    font-style: italic;
    line-height: 21px;
    cursor: pointer;
    pointer-events: none;
    color: #d2d2d2;
    margin-bottom: 20px;
    text-align: left;
}
.clearNeighborhood-mobile.active {
    display: none;
}
.clearNeighborhood-mobile.active span {
    color: black;
    border-bottom: 2px solid black;
    pointer-events: visible;
    padding-bottom: 5px;
}

.note {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
}

.note span {
    font-weight: 700;
}

.mapboxgl-popup-content{
    border-radius: 0px;
    background: black;
    color: white;
    font-family: 'Lato';
    font-weight: bold;
    font-size: 16px;
    padding: 5px 9px;
}
.mapboxgl-popup-content .tooltip-geography{
    display: block;
    font-style: italic;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    /* or 21px */
    /* margin-left: 5px; */
    /* padding-left: 5px; */
    /* border-left: 1px solid #696969; */
}
.mapboxgl-popup-anchor-bottom .mapboxgl-popup-tip{
    border-top-color: black;
}
.mapboxgl-popup-anchor-right .mapboxgl-popup-tip{
    border-left-color: black;
}
.mapboxgl-popup-anchor-left .mapboxgl-popup-tip{
    border-right-color: black;
}
.mapboxgl-popup-anchor-top .mapboxgl-popup-tip{
    border-bottom-color: black;
}


/*check box code from https://codepen.io/Vestride/pen/AwaMNg*/
.styled-checkbox {
  position: absolute;
  opacity: 0;
}
.styled-checkbox + label {
  position: relative;
  cursor: pointer;
  padding: 0;
  font-weight: bold;
  font-size: 16px;
}
.styled-checkbox + label:before {
  content: "";
  margin-right: 10px;
  display: inline-block;
  vertical-align: text-top;
  width: 20px;
  height: 20px;
  background: white;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 1);
}
.styled-checkbox:hover + label:before {
  background: #fdbf11;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 1);
}
.styled-checkbox:focus + label:before {
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 1);
}
.styled-checkbox:checked + label:before {
  background: #fdbf11;
}
.styled-checkbox:disabled + label {
  color: #d2d2d2;
  cursor: auto;
}
.styled-checkbox:disabled + label:before {
  box-shadow: none;
  background: #d2d2d2;
}
.styled-checkbox:checked + label:after {
  content: "";
  position: absolute;
  left: 5px;
  top: 9px;
  background: black;
  width: 2px;
  height: 2px;
  box-shadow: 2px 0 0 black, 4px 0 0 black, 4px -2px 0 black, 4px -4px 0 black, 4px -6px 0 black, 4px -8px 0 black;
  transform: rotate(45deg);
}
.dropbtn {
    color: #FFF;
    padding: 2px 12px;
    /* border: 1px solid #D2D2D2; */
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    cursor: pointer;
    width: 286px;
    background-color: #000;
    /* background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='28' viewBox='0 0 28 28' width='28' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>"); */
    background-image: url("../img/dropdown.svg");
    background-repeat: no-repeat;
    background-position-x: calc(100% - 9px);
    background-position-y: 50%;
    background-size: 16px;
  }
  
  .dropbtn svg {
    padding-right: 10px;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    margin: 5px 12px 5px 0px;
    position: relative;
    display: inline-block;
    height: 37px;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    width: 308px;
    max-height: 360px;
    /* box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); */
    z-index: 1000000;
    overflow: scroll;
    background: #FFFFFF;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.15);
    border: 1px solid #D2D2D2;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    color: #353535;
    padding: 4px 12px;
    text-decoration: none;
    display: block;
    cursor: pointer;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {
    background-color: #000000;
    color: #FFFFFF;
}

/* BAR CHARTS */

.chart-dropbtn {
    /* color: #696969; */
    padding: 0;
    /* border: 1px solid #D2D2D2; */
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 25px;
    cursor: pointer;
    width: auto;
    border-bottom: 3px solid #1696D2;
    /* background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='28' viewBox='0 0 28 28' width='28' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>"); */
    background-image: url("../img/icon-chevron down.svg");
    background-repeat: no-repeat;
    background-position-x: calc(100% - 9px);
    background-position-y: 50%;
    background-size: 16px;
  }
  
  .chart-dropbtn svg {
    padding-right: 10px;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .chart-dropdown {
    margin: 5px 12px 5px 0px;
    position: relative;
    display: inline-block;
    width: 360px;
    height: 37px;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .chart-dropdown-content {
    display: none;
    position: absolute;
    width: 358px;
    max-height: 360px;
    /* box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); */
    z-index: 1000000;
    overflow: scroll;
    background: #FFFFFF;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.15);
    border: 1px solid #D2D2D2;
  }
  
  /* Links inside the dropdown */
  .chart-dropdown-content a {
    font-size: 16px;
    color: #353535;
    padding: 4px 12px;
    text-decoration: none;
    display: block;
    cursor: pointer;
  }
  
  /* Change color of dropdown links on hover */
  .chart-dropdown-content a:hover {
    background-color: #000000;
    color: #FFFFFF;
}

#drawers {
    display: none;
}

.drawer {
    border-bottom: 1px solid #d2d2d2;
}

.drawer-data {
    padding-bottom: 24px;
}

.drawer-title {
    font-family: 'Lato', sans-serif;
    position: relative;
    line-height: 83px;
    text-transform: uppercase;
    font-size: 14px;
    cursor: pointer;
}

.drawer-title::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    right: 0;
    background-image: url("../img/icon-plus.svg");
    background-repeat: no-repeat;
    background-position-x: 100%;
    background-position-y: 50%;
    background-size: 35px;
}

.drawer-title.checked::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    right: 0;
    background-image: url("../img/icon-minus.svg");
    background-repeat: no-repeat;
    background-position-x: 100%;
    background-position-y: 50%;
    background-size: 35px;
}

.drawer-data {
    display: none;
}

.show-drawer-data {
    display: grid;
}

.score {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;

    line-height: 26px;
    height: 26px;
    background: #ECECEC;
    margin-bottom: 6px;
    padding: 0 7px 0 11px;
}

.underlined {
    border-bottom-width: 4px;
    border-bottom-style: solid;
    line-height: 22px;
}

  .show {display:block;}

.chart-box {
    margin-bottom: 24px;
}
.chart-row {
    margin-bottom: 12px;
}
.bar-name {
    font-family: 'Lato', sans-serif;
    width: 130px;
    font-weight: 400;
    font-size: 14px;
    /* line-height: 30px; */
    /* margin-right: 17px; */
}
.bar-name, .bar-svg {
    display: inline-block;
    /* line-height: 30px; */
    /* height: 30px; */
    vertical-align: middle;
}
.bar-percent {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

/* @media(max-width: 1075px){
    #mb-equity, .mapButtonLabel, #mb-access{
        clear: both;
    }
    .mapButtonLabel{
        border-left: 0px;
        margin-left: 0px;
        padding-left: 0px;
        padding-top: 19px;
        margin-bottom: -11px;
    }
    #hoverSidebar{
        width: 260px;
    }
    #mapContainer{
        display: inline-block;
        position: relative;
        width: calc(100% - 287px);
    }
    .noHover.desktop {
        top: 230px;
        width: 245px;
    }
    #sidebarTop{
        height: auto;
    }
    #naText{
        font-size: 24px;
        margin-left: 34px;
        position: relative;
        width: fit-content;
        top: 2px;
        margin-top: 10px;
    }
} */
#isMobile{
    display: none;
    position: fixed;
    z-index: -1;
}
#screen, .closeMobileTT{
    display: none !important;
}
.noHover.mobile{
    display: none;
    opacity: 0 !important;
}

@media(max-width: 1075px){
    #isMobile{
        display: block;
    }
    #buttonContainer {
        margin-bottom: 18px;
    }
    #selectFactor {
        font-size: 18px;
        line-height: 28px;
        margin-bottom: 8px;
    }
    #factorChoose {
        display: block;
    }
    #dropdown-risk {
        margin-bottom: 16px;
    }
    .map-button {
        margin-bottom: 4px;
    }
    #mapContainer{
        width: 100%;
        border: none;
    }
    #map{
        height: 500px;
    }
    .noHover.desktop{
        display: none;
        opacity: 0 !important;
    }
    .noHover.mobile{
        opacity: 1 !important;
        display: block;
        font-size: 18px;
        font-style: italic;
        margin-top: 31px;
        padding-bottom: 20px;
        line-height: 1.5;
    }
    #mb-access, #mb-environment, #mb-encounters, #mb-infrastructure, #mb-safety{
        margin-bottom: 10px;
        padding: 5px 10px;
    }
    #sidebar{
        opacity: 0;
        z-index: -1;
        pointer-events: none;
        border: none;
    }
    #sidebar.active{
        opacity: 1;
        pointer-events: visible;
        width: 100vw;
        background: white;
        padding-bottom: 30px;
        left: 0;
        z-index: 100;
    }
    #sideScore {
        height: 64px;
        padding: 54px 15px 108px 15px;
    }
    #sideScore.combined {
        height: 100px;
    }
    #sideScore.risk {
        height: 14px;
    }
    #sideScore.hs {
        height: 64px;
    }
    #sideDetails {
        padding: 0 15px 31px 15px;
    }
    #score-details {
        font-size: 16px;
    }
    #mobile-tooltip {
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 21px;
        margin-bottom: 27px;
    }
    #screen{
        display: none;
        opacity: 0;
    }
    #screen.active{
        display: block !important;
        opacity: .5;
        position: fixed;
        top: 0px;
        left: 0px;
        width: 100vw;
        height: 100vh;
        background: black;
        z-index: 99;
    }
    #sidebarTop {
        margin-bottom: 0;
    }
    #sidebar.active #hoverSidebar{
        display: block !important;
        width: 100%;
    }
    .closeMobileTT{
        display: block !important;
        width: 24px;
        right: 15px;
        top: 15px;
        position: absolute;
    }
    .closeMobileTT img{
        width: 100%;
    }
    .clickHereTT{
        display: block;
        height: 32px;
        background: white;
        color: black;
        position: absolute;
        z-index: 1;
        border: 1px solid black;
        padding: 0 8px;
        bottom: -33px;
        right: 0;
        font-weight: 700;
        font-size: 16px;
        line-height: 32px;

        text-align: right;
        min-width: 112px;

    }
    .clickHereTT svg {        
        vertical-align: middle;
        line-height: 32px;
        margin-left: 10px;
        transform: translateY(-10%);
    }
    .drawer-data {
        padding-bottom: 20px;
    }
    .mapboxgl-ctrl-geocoder {
        min-width: 0;
        max-width: 200px;
        height: 43px;
    }
    .mapboxgl-ctrl-geocoder--input {
        height: 43px;
        font-size: 16px;
    }
    .mapboxgl-ctrl-geocoder--icon-search {
        top: 10px;
    }
    .clearNeighborhood.active {
        display: none;
    }
    .clearNeighborhood-mobile {
        display: block !important;
    }
}
